In [1]:
# Set up environment

## PS> mkdir avocado_analytics
## PS> cd avocado_analytics
## PS> python -m venv venv
## PS> venv\Scripts\activate # source venv/Scripts/activate for linux/gitbash

# Load required packages
## (venv) $ python -m pip install dash==2.8.1 pandas==1.5.3

UsageError: Line magic function `%python` not found (But cell magic `%%python` exists, did you mean that instead?).

In [6]:
# %pip install openpyxl
# %pip install --upgrade openpyxl
# %pip install plotly
# %pip install matplotlib
# %pip install nbformat
# %pip install dash # %pip install --upgrade pip
# %pip install pyyaml

%load_ext autoreload
%autoreload 2

# sys.path.insert(1, '../')

In [9]:
import pandas as pd
from pd_data_frame_checks import check_columns_existence

from utils import read_yaml
from pd_data_frame_checks import convert_columns_dict_type_allocation
from process_specific_bank.process_specific_bank import specific_bank_calculations
from rba_monthly_adi_statistics import read_and_process_data

In [7]:
# Arguments
file_name: str = 'data/Monthly authorised deposit-taking institution statistics back-series March 2019 - December 2023.xlsx'
sheet_name: str = 'Table 1'
skiprows: int = 1
processes_to_run: list = ['all']
specific_bank_names_list: str = ['Macquarie Bank Limited']
date_column: str = 'Period'

# Load Data

In [10]:
# Read config
config_dict = read_yaml(file_path = 'config.yaml')

# Read and process data
rba_monthly_stats_df = read_and_process_data(
    config_dict=config_dict,
    file_name=file_name,
    sheet_name=sheet_name,
    skiprows=skiprows,
    date_column=date_column,        
)

# Melt the DataFrame to convert from wide to long format
id_cols = ['Period', 'ABN', 'Institution Name']
narrow_rba_monthly_stats_df = pd.melt(rba_monthly_stats_df, id_vars=id_cols, var_name='Variable', value_name='Value')

# Generate BB Dashboard Sections

In [16]:
tree_data = {
    'company': [
        'National Australia Bank Limited',
        'Commonwealth Bank of Australia',
        'Westpac Banking Corporation',
        'Australia and New Zealand Banking Group Limited',
        'Sumitomo Mitsui Banking Corporation',
        'MUFG Bank, Ltd.',
        'Bank of China Limited',
        'Macquarie Bank Limited',
        'Rabobank Australia Limited',
        'Bank of America, National Association',
        'Mizuho Bank, Ltd.',
        'Bendigo and Adelaide Bank Limited',
        'The Hongkong and Shanghai Banking Corporation Limited',
        'Bank of Queensland Limited',
        'Other',
    ],
    'value': [
        232723400000,
        190350800000,
        177694300000,
        151317400000,
        26930800000,
        23784800000,
        18791100000,
        17528000000,
        17073300000,
        17609000000,
        20204000000,
        15945500000,
        12774300000,
        13902300000,
        177265000000,
    ],
}

tree_data_df = pd.DataFrame(tree_data)

In [17]:
tree_data_df

                                              company         value
0                     National Australia Bank Limited  232723400000
1                      Commonwealth Bank of Australia  190350800000
2                         Westpac Banking Corporation  177694300000
3     Australia and New Zealand Banking Group Limited  151317400000
4                 Sumitomo Mitsui Banking Corporation   26930800000
5                                     MUFG Bank, Ltd.   23784800000
6                               Bank of China Limited   18791100000
7                              Macquarie Bank Limited   17528000000
8                          Rabobank Australia Limited   17073300000
9               Bank of America, National Association   17609000000
10                                  Mizuho Bank, Ltd.   20204000000
11                  Bendigo and Adelaide Bank Limited   15945500000
12  The Hongkong and Shanghai Banking Corporation ...   12774300000
13                         Bank of Queensland Limited   13902300000
14                                              Other  177265000000

In [5]:
# app.py

import pandas as pd
from dash import Dash, dcc, html

data = (
    pd.read_csv("avocado.csv")
    .query("type == 'conventional' and region == 'Albany'")
    .assign(Date=lambda data: pd.to_datetime(data["Date"], format="%Y-%m-%d"))
    .sort_values(by="Date")
)

app = Dash(__name__)

app.layout = html.Div(
    children=[
        html.H1(children="Avocado Analytics"),
        html.P(
            children=(
                "Analyze the behavior of avocado prices and the number"
                " of avocados sold in the US between 2015 and 2018"
            ),
        ),
        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": data["Date"],
                        "y": data["AveragePrice"],
                        "type": "lines",
                    },
                ],
                "layout": {"title": "Average Price of Avocados"},
            },
        ),
        dcc.Graph(
            figure={
                "data": [
                    {
                        "x": data["Date"],
                        "y": data["Total Volume"],
                        "type": "lines",
                    },
                ],
                "layout": {"title": "Avocados Sold"},
            },
        ),
    ]
)

if __name__ == "__main__":
    app.run_server(debug=True)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: on

SystemExit: 1

c:\Users\tyewf\Documents\GitHub\rba_monthly_adi_statistics_excel\venv\lib\site-packages\IPython\core\interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
# $ cd rba_monthly_adi_statistics_excel/
# $ python rba_madis_dashboard.py
## This then tells you the ip address to use in your url